<launch>

  <rosparam ns="/dmp_motion_generation_test" command="load" file="$(find dmp_motion_controller_test)/launch/dmp_test_params.yaml"/>

	<node launch-prefix="xterm -e gdb --args" name="dmp_motion_controller_test" pkg="dmp_motion_controller_test" type="dmp_controller_regression_test" output="screen">

	  <rosparam command="load" file="$(find dmp_motion_controller_test)/launch/dmp_motion_controller_test.yaml"/>
	  <rosparam command="load" file="$(find dmp_motion_controller_test)/launch/dmp_test_params.yaml" />
	  <rosparam command="load" file="$(find dmp_motion_controller_test)/launch/dmp_test_variable_names.yaml" />

	</node>

</launch>
