<launch> 

  <include file="$(find pr2_description)/robots/upload_pr2.launch"/>
	
  <rosparam ns="/pr2_tasks_transform" file="$(find pr2_tasks_transforms)/launch/task_transform.yaml" command="load"/>
  
  <rosparam ns="/dmp_motion_learner" file="$(find pr2_tasks_transforms)/launch/pr2_pool_transform_right_arm_variable_names.yaml" command="load"/>

  <node pkg="dmp_motion_learner" name="dmp_motion_learner" type="dmp_motion_learner_node" output="screen" >				

    <rosparam command="load" file="$(find pr2_tasks_transforms)/launch/task_transform.yaml"/>
    
    <rosparam command="load" file="$(find dmp_motion_controller)/config/pr2_right_arm_variable_names.yaml"/>
    <rosparam command="load" file="$(find dmp_motion_controller)/config/pr2_left_arm_variable_names.yaml"/>

    <rosparam command="load" file="$(find dmp_motion_generation)/config/variable_names.yaml" />	
  
  </node>
</launch>
