<launch>

  <!-- Start cloud filter -->
  <rosparam file="$(find dmp_motion_learner)/config/cloud_filter_parameter.yaml" command="load"/>
  <include file="$(find dmp_motion_learner)/launch/cloud_filter_node.launch"/>

  <!-- Start cmvision -->
  <include file="$(find dmp_motion_learner)/launch/cmvision.launch"/>

  <!-- Start perception interface -->
  <include file="$(find dmp_motion_controller)/launch/dmp_perception_interface.launch"/>

</launch>
