<launch>

  <include file="$(find dmp_motion_controller)/launch/r_arm_dmp_ik_controller.launch" />
  <include file="$(find dmp_motion_controller)/launch/l_arm_dmp_ik_controller.launch" />
  <include file="$(find dmp_motion_controller)/launch/dual_arm_dmp_ik_controller.launch" />

  <node name="dmp_ik_controllers_spawner"
        pkg="pr2_controller_manager" type="spawner" output="screen"
        args="--stopped r_arm_dmp_ik_controller l_arm_dmp_ik_controller dual_arm_dmp_ik_controller">
  </node>

</launch>