<launch>
  <node name="hokuyo" pkg="hokuyo_node" type="hokuyo_node" respawn="false" output="screen">
  
    <!-- Starts up faster, but timestamps will be inaccurate. --> 
    <param name="calibrate_time" type="bool" value="true"/> 
    
    <!-- Set the port to connect to here -->
    <param name="port" type="string" value="/dev/sensors/hokuyo_H0902624"/> 
  
    <param name="intensity" type="bool" value="false"/>
  </node>
</launch>
