<launch>

  <rosparam ns="/dmp_motion_learner" file="$(find pr2_tasks)/launch/pool_task_directory_params.yaml" command="load"/>
  <rosparam ns="/dmp_motion_learner" file="$(find pr2_tasks)/launch/dmp_params.yaml" command="load"/>
  <rosparam ns="/dmp_motion_learner" file="$(find pr2_tasks)/launch/lwr_params.yaml" command="load"/>

  <rosparam ns="/dmp_motion_learner" file="$(find pr2_tasks_transforms)/launch/task_transform.yaml" command="load"/>
  <rosparam ns="/dmp_motion_learner" file="$(find pr2_tasks_transforms)/launch/pr2_chop_stick_transform_variable_names.yaml" command="load"/>
  
  <rosparam ns="/r_arm_dmp_ik_controller" file="$(find pr2_tasks)/launch/dmp_params.yaml" command="load"/>
  <rosparam ns="/l_arm_dmp_ik_controller" file="$(find pr2_tasks)/launch/dmp_params.yaml" command="load"/>
  
  <rosparam ns="/policy_improvement_loop_main" file="$(find dmp_motion_generation)/config/variable_names.yaml" command="load"/>
  
  <node launch-prefix="xterm -e gdb --args" name="policy_improvement_loop_main" pkg="policy_improvement_loop" type="policy_improvement_loop_main" output="screen">
    <rosparam command="load" file="$(find pr2_tasks_transforms)/launch/task_transform.yaml"/>
    <rosparam command="load" file="$(find pr2_tasks_transforms)/launch/pr2_chop_stick_transform_variable_names.yaml"/>

    <rosparam command="load" file="$(find pr2_tasks)/launch/chop_stick_task.yaml"/>
    <rosparam command="load" file="$(find pr2_tasks)/launch/dmp_params.yaml"/>
    <rosparam command="load" file="$(find pr2_tasks)/launch/lwr_params.yaml"/>
  </node>

</launch>
